<%= form_for(apartamento) do |f| %>
  <% if apartamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartamento.errors.count, "error") %> prohibited this apartamento from being saved:</h2>

      <ul>
      <% apartamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="field">
    <%= f.label :torre_id %>
    <%= f.text_field :torre_id %>
  </div>

  <div class="field">
    <%= f.label :piso %>
    <%= f.number_field :piso %>
  </div>

  <div class="field">
    <%= f.label :persona_id %>
    <%= f.number_field :persona_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
