<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @apartamento.numero %>
</p>

<p>
  <strong>Torre:</strong>
  <%= @apartamento.torre_id %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @apartamento.piso %>

</p>

 
<%= link_to 'Edit', edit_apartamento_path(@apartamento) %> |
<%= link_to 'Back', apartamentos_path %>
